
ul.nolist {padding:0; list-style:none;}
.clr-white {color:#FFF;}

html, body {height:100%; font-size:$font-size-base; color:$font-color; font-family:$font-family;}
body {overflow-y:scroll;}

h1 {font-size:$font-size-base * 3.5; font-family:$header-family; font-weight:$header-weight;}
h2 {font-size:$font-size-base * 2.5; font-family:$header-family; font-weight:$header-light;}
//h3 {font-size:$font-size-base * 1.75;}
//h4 {font-size:$font-size-base * 1.5;}
//h5 {font-size:$font-size-base * 1.25;}
//h6 {font-size:$font-size-base;}
p {margin-bottom:10px;}


/*
______
|  ___|
| |_ ___  _ __ _ __ ___  ___
|  _/ _ \| '__| '_ ` _ \/ __|
| || (_) | |  | | | | | \__ \
\_| \___/|_|  |_| |_| |_|___/

*/
textarea {max-height:500px;}
.field-error {font-size:.9rem;}


