
ul.nolist {padding:0; list-style:none;}
.fitwidth {width:1px; white-space:nowrap;}  // Use in td
.nobold {font-weight:normal;}
.text-bold {font-weight:bold;}
.clr-light {color:#999!important;}
.clr-buy {color:$buy-color!important;}
.clr-sell {color:$sell-color!important;}
.clr-buy-darker {color:shade-color($buy-color, 18%)!important;}
.clr-sell-darker {color:shade-color($sell-color, 10%)!important;}
.clr-white {color:#FFF!important;}
.split-focus-left {display: grid; grid-template-columns: 1fr auto; grid-template-rows: 1fr; align-items:center;}
.split-focus-right {display: grid; grid-template-columns: auto 1fr; grid-template-rows: 1fr; align-items:center;}
//.justify-content-center {justify-content:center;}
.flex-start {justify-content:flex-start;}
.flex-center {justify-content:center;}
.flex-end {justify-content:flex-end;}

html, body {height:100%; font-size:$font-size-base; color:$font-color; font-family:$font-family;}
body {overflow-y:scroll;}

h1 {font-size:$font-size-base * 3.2; font-family:$header-family; font-weight:$header-weight;}
h2 {font-size:$font-size-base * 2.5; font-family:$header-family; font-weight:$header-light;}
//h3 {font-size:$font-size-base * 1.75;}
//h4 {font-size:$font-size-base * 1.5;}
//h5 {font-size:$font-size-base * 1.25;}
//h6 {font-size:$font-size-base;}
p {margin-bottom:10px;}


// Remove the arrow in buttons for the navbar. Place alongside .dropdown-toggle
.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none!important;
}

/*
______
|  ___|
| |_ ___  _ __ _ __ ___  ___
|  _/ _ \| '__| '_ ` _ \/ __|
| || (_) | |  | | | | | \__ \
\_| \___/|_|  |_| |_| |_|___/

*/
.icon-prepend {
    span {position: absolute; z-index: 2; display: block; width: 2.375rem; height: 2.375rem; line-height: 2.375rem; text-align: center; pointer-events: none; color: #aaa;
    }
    input {padding-left: 2.375rem;}
}


.has-search
textarea {max-height:500px;}
.field-error {font-size:.9rem;}


