

$bg-gray: #efefef;

//$red:     #dc3545 !default;
$primary:   #09F;
$secondary: #BBB;

$font-size-base:    1.1rem;
$font-family:       Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color:        #333;
$header-family:     Khula, Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-light:      300;
$header-weight:     700;