


/* Bootstrap */


/* Layout */
$sidebar-bg:    #282C34;
$content-bg:    none;
$header-bg:     #FFF;
$main-bg:       #efefef;
$footer-bg:     lighten($sidebar-bg, 20%);
$header-height: 120px;
$footer-height: 80px;
$tops-bg:       darken($sidebar-bg, 10%);
$bottoms-bg:    $tops-bg;

$random-dark1:  $sidebar-bg;

/* Colors */
$primary:       #8212FA;
$secondary:     #BBB;
$buy-color:     #08BCA8;
$sell-color:    #FF6962;
//
//$bg-gray:               #efefef;
//$dark-theme-bg:         #282C34;
//$dark-theme-bg-links:   #FFF;
//$dark-theme-light:      #4F575F;
//$dark-theme-dark:       #21252B;
//$dark-theme-text:       #DDD;

/* Font */
$font-size-base:    1rem;
$font-family:       Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color:        #333;
$header-family:     Khula, Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-light:      300;
$header-weight:     700;

/* Form */
//$dark-theme-focus:              lighten(#0DA0F8, 15%);
//$dark-theme-invalid:            lighten(#FFD4D2, 10%);
//$dark-theme-invalid-stroke:     darken($dark-theme-invalid, 20%);
//$dark-theme-valid:              lighten(#8BF0CF, 25%);
//$dark-theme-valid-stroke:       darken($dark-theme-valid, 20%);

/* Layout */
$container-max-widths: (
    sm: 600px,
    md: 780px,
    lg: 920px,
    xl: 1000px,
    //xxl: 1320px
);


$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
);


$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$secondary:     $gray-600;


/* .block-out-buy/sell used in /trades  */
$block-out-buy-bg: tint-color(#08BCA8, 70%);
$block-out-buy-dot: shade-color(#08BCA8, 10%);
$block-out-sell-bg: tint-color(#FF6962, 70%);
$block-out-sell-dot: shade-color(#FF6962, 10%);
$block-out-dot-size: 2px;
$block-out-dot-space: 4px;