

/* Colors */
$primary:   #8212FA;
$secondary: #BBB;

$bg-gray:               #efefef;
$dark-theme-bg:         #282C34;
$dark-theme-bg-links:   #FFF;
$dark-theme-light:      #4F575F;
$dark-theme-dark:       #21252B;
$dark-theme-text:       #DDD;

/* Font */
$font-size-base:    0.95rem;

$font-family:       Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color:        #333;
$header-family:     Khula, Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-light:      300;
$header-weight:     700;

/* Form */
$dark-theme-focus:              lighten(#0DA0F8, 15%);
$dark-theme-invalid:            lighten(#FFD4D2, 10%);
$dark-theme-invalid-stroke:     darken($dark-theme-invalid, 20%);
$dark-theme-valid:              lighten(#8BF0CF, 25%);
$dark-theme-valid-stroke:       darken($dark-theme-valid, 20%);

/* Layout */
$container-max-widths: (
    sm: 600px,
    md: 780px,
    lg: 920px,
    xl: 1000px,
    //xxl: 1320px
);


$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
);

/* Navbar */
$navbar-height: 60px;