

/* Colors */
$primary:   #8212FA;
$secondary: #BBB;

$bg-gray:           #efefef;
$dark-theme-bg:     #282C34;
$dark-theme-light:  #4F575F;
$dark-theme-dark:   #21252B;
$dark-theme-text:   #DDD;

/* Font */
$font-size-base:    1.1rem;

$font-family:       Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color:        #333;
$header-family:     Khula, Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-light:      300;
$header-weight:     700;

/* Form */
$dark-theme-focus:              lighten(#0DA0F8, 15%);
$dark-theme-invalid:            lighten(#FFD4D2, 10%);
$dark-theme-invalid-stroke:     darken($dark-theme-invalid, 20%);
$dark-theme-valid:              lighten(#8BF0CF, 25%);
$dark-theme-valid-stroke:       darken($dark-theme-valid, 20%);

/* Layout */
$container-max-widths: (
        sm: 600px,
        md: 780px,
        lg: 960px,
        xl: 1000px,
        //xxl: 1320px
);
