/*!
---------------------------------------------------------------
______                 _    _      _   ______
|  _  \               | |  (_)    | |  |  _  \
| | | |_ __ ___  _ __ | | ___  ___| | _| | | |_____   __
| | | | '__/ _ \| '_ \| |/ / |/ __| |/ / | | / _ \ \ / /
| |/ /| | | (_) | |_) |   <| | (__|   <| |/ /  __/\ V /
|___/ |_|  \___/| .__/|_|\_\_|\___|_|\_\___/ \___| \_/
                | |
                |_|

enchance 2021 (doom)
---------------------------------------------------------------
*/
@import "../bootstrap/scss/functions";
@import 'vars'; // Mine
@import 'bootstrap_imports';
@import 'init';

html, body {background:$bg-gray;}

#header {margin-bottom:50px;}

#footer {margin-top:50px; background:#777; color:#FFF; padding:10px 0;}