/*!
---------------------------------------------------------------
______                 _    _      _   ______
|  _  \               | |  (_)    | |  |  _  \
| | | |_ __ ___  _ __ | | ___  ___| | _| | | |_____   __
| | | | '__/ _ \| '_ \| |/ / |/ __| |/ / | | / _ \ \ / /
| |/ /| | | (_) | |_) |   <| | (__|   <| |/ /  __/\ V /
|___/ |_|  \___/| .__/|_|\_\_|\___|_|\_\___/ \___| \_/
                | |
                |_|

enchance 2021
Ascii: doom
Divider: cybermedium
---------------------------------------------------------------
*/
@import "../bootstrap/scss/functions";
@import 'vars'; // Mine
@import 'bootstrap_imports';
@import 'init';


html, body {background:$bg-gray;}

#header {}
#navbar {
    li.display {margin-right:20px;}
    @include media-breakpoint-down(lg) {
        a.nav-link:hover {background:none!important;}
    }
}

#content {
    &.left-sb {display:grid; height:100vh;
        @include media-breakpoint-up(md) {
            grid-template-columns:160px 1fr;
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns:200px 1fr;
        }
        aside.sidebar {}
        main {background:tint-color($dark-theme-bg, 10%);
            .listing {
                li {display:grid; grid-template-columns:auto 1fr auto; background:#AAA; padding:7px 7px 7px 15px; color:#333; margin-bottom:1px; align-items:center;
                    div:nth-child(2) {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
                }
            }
        }
    }
}

#footer {padding:20px 0;}


//#footer {background:#777; color:#FFF; padding:10px 0;}


.btn {
    &.btn-primary {color:#FFF;}
}

.dark-theme {background:$dark-theme-bg; color:$dark-theme-text;
    h1 {color:#EEE;}
    ul.nav a.nav-link {color:$dark-theme-bg-links; border-radius:$border-radius $border-radius 0 0;
        &:hover {background-color:tint-color($dark-theme-bg, 30%);}
    }

    #header {
        nav {background:$dark-theme-dark; border-bottom:1px solid $dark-theme-light;
            a:not(.navbar-brand):hover {background:lighten($dark-theme-dark, 10%);}
        }
    }
    #content {}
    #footer {background:$dark-theme-dark; border-top:1px solid $dark-theme-light;}
    .card {background:$dark-theme-light;}

    /*
    * ____ ____ ____ _  _
    * |___ |  | |__/ |\/|
    * |    |__| |  \ |  |
    */
    .form-control:focus:not(.is-valid):not(.is-invalid) {border-color:$dark-theme-focus; outline:2px solid $dark-theme-focus;}
    .field-error {color:lighten($danger, 30%);}

    .was-validated .form-control:valid, .form-control.is-valid,
    .was-validated .form-control:valid:focus, .form-control.is-valid:focus,
    .was-validated .form-select:valid, .form-select.is-valid,
    .was-validated .form-select:valid:focus, .form-select.is-valid:focus,
    .was-validated .form-check-input:valid, .form-check-input.is-valid {
        background-color:$dark-theme-valid; border-color:$dark-theme-valid-stroke;
        outline:2px solid $dark-theme-valid-stroke;
    }
    .was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
        background-color:$dark-theme-valid;
    }

    .was-validated .form-control:invalid, .form-control.is-invalid,
    .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
    .was-validated .form-select:invalid, .form-select.is-invalid,
    .was-validated .form-select:invalid:focus, .form-select.is-invalid:focus,
    .was-validated .form-check-input:invalid, .form-check-input.is-invalid {
        background-color:$dark-theme-invalid; border-color:$dark-theme-invalid-stroke;
        outline:2px solid $dark-theme-invalid-stroke;
    }
    .was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
        background-color:$dark-theme-invalid;
    }
}

.light-theme {}