/*!
---------------------------------------------------------------
______                 _    _      _   ______
|  _  \               | |  (_)    | |  |  _  \
| | | |_ __ ___  _ __ | | ___  ___| | _| | | |_____   __
| | | | '__/ _ \| '_ \| |/ / |/ __| |/ / | | / _ \ \ / /
| |/ /| | | (_) | |_) |   <| | (__|   <| |/ /  __/\ V /
|___/ |_|  \___/| .__/|_|\_\_|\___|_|\_\___/ \___| \_/
                | |
                |_|

enchance 2021
Ascii: doom
Divider: cybermedium
---------------------------------------------------------------
*/
@import "../bootstrap/scss/functions";
@import 'vars'; // Mine
@import 'bootstrap_imports';
@import 'init';




/*
* ____ _  _ ____
* |  | |  | |__/
* |__|  \/  |  \
*/
ul.dropdown-menu {
    a:hover {background:lighten($primary, 40%);}
}
button.btn-google {background:#fafafa!important; justify-content:center;
    > div {background:none!important;}
    > span {color:#333; font-weight:bold; font-size:1.2rem; font-family:$font-family;}
}


/*
* _    ____ _   _ ____ _  _ ___
* |    |__|  \_/  |  | |  |  |
* |___ |  |   |   |__| |__|  |
*/
#app {display: grid;
    //grid-template-columns: 300px 1fr; grid-template-rows: 1fr 30px;
    //  grid-column-gap: 0; grid-row-gap: 0;
    &.starter-layout {grid-template-columns: 300px 1fr; grid-template-rows: 0 1fr 30px;
                      grid-column-gap: 0; grid-row-gap: 0;
        #tops { grid-area: 1 / 1 / 2 / 3; background:$tops-bg;}
        #sidebar { grid-area: 2 / 1 / 3 / 2; min-height:100vh;}
        #content { grid-area: 2 / 2 / 3 / 3; min-height:100vh;
                   display: grid; grid-template-columns: 1fr; grid-template-rows: $header-height 1fr $footer-height;
                   grid-column-gap: 0; grid-row-gap: 0;}
        #bottoms { grid-area: 3 / 1 / 4 / 3; background:$bottoms-bg;}
    }
    &.guest-layout {grid-template-columns: 1fr; grid-template-rows: auto 1fr auto;
                    grid-column-gap: 0; grid-row-gap: 0;
        #header {background:$random-dark1;}
        main {min-height:100vh; background:$main-bg;}
        #footer {background:$random-dark1;}
    }
}


/*
* ____ _ ___  ____ ___  ____ ____
* [__  | |  \ |___ |__] |__| |__/
* ___] | |__/ |___ |__] |  | |  \
*/
#sidebar {display: grid; grid-template-columns: 1fr; grid-template-rows: $header-height 1fr $footer-height;
          grid-column-gap: 0; grid-row-gap: 0; background:$sidebar-bg;
    > .top {background:lighten($primary, 10%); display:flex; align-items:center;
        .user {display:flex; margin:0 1rem;
            .pic {
                img {height:$header-height - 40px;}
                span.no-pic {font-size:90px; color:darken($sidebar-bg, 5%);}
            }
            .data {
                &.nudge-down {position:relative; top:5px;}
                > h4 {color:#FFF; margin:0; font-weight:bold; font-size:1.4rem;}
                > a {color:#FFF; text-decoration:none;}
            }
        }
    }
    > .content {
        .material-icons {color:#FFF; margin:0;}
        .brand {padding-left:1rem; height:50px; display:flex; align-items:center; font-size:1.8rem;
            a {color:#FFF;}
        }
        ul.nav {
            li.nav-item {
                > a {color:#FFF; display:flex; align-items:center;
                    &:hover {background:lighten($sidebar-bg, 20%)}
                }
            }
        }
        nav.navbar {
            &.primary-nav a {height:60px;}
            &.secondary-nav a {height:40px;}
        }
    }
    > .bottom {background:darken($sidebar-bg, 10%);}
}


/*
* _  _ ____ ____ ___  ____ ____
* |__| |___ |__| |  \ |___ |__/
* |  | |___ |  | |__/ |___ |  \
*/
#app.starter-layout {
    #header {background:$header-bg;}
}


/*
* _  _ ____ _ _  _
* |\/| |__| | |\ |
* |  | |  | | | \|
*/
#app.starter-layout {
    main {background:$main-bg;}
}


/*
* ____ ____ ____ ___ ____ ____
* |___ |  | |  |  |  |___ |__/
* |    |__| |__|  |  |___ |  \
*/
#app.starter-layout {
    #footer {background:$footer-bg;}
}
